<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Employee-Add</title>
</head>
<body>
  <form action="#" th:action="@{/employees/add}" th:object="${employee}" method="post">
      <p>First name:<input type="text" th:field="*{firstName}" /></p>
      <p>Second name:<input type="text" th:field="*{secondName}" /></p>
      <p>Last name:<input type="text" th:field="*{lastName}" /></p>
      <p>Passport number:<input type="text" th:field="*{passportNumber}" /></p>
      <p>Phone number:<input type="text" th:field="*{phoneNumber}" /></p>
      <p>Category number:<input type="text" th:field="*{categoryNumber}" /></p>
      <p>
          <input type="submit" value="Submit"/> <input type="reset" value="Reset"/>
      </p>
  </form>
</body>
</html>